name: Deploy All Apps

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      PRODUCTION_DOMAIN: https://gowthamraj2399.github.io/gowtham-microfrontend
      VITE_SUPABASE_URL: ${{ secrets.VITE_SUPABASE_URL }}
      VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY: ${{ secrets.VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY }}
      VITE_CLOUDINARY_CLOUD_NAME: ${{ secrets.VITE_CLOUDINARY_CLOUD_NAME }}
      VITE_CLOUDINARY_UPLOAD_PRESET: ${{ secrets.VITE_CLOUDINARY_UPLOAD_PRESET }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: "container/package-lock.json"

      - name: Install Container Dependencies
        run: cd container && npm install

      - name: Build Container
        run: cd container && npm run build

      - name: Install Auth Dependencies
        run: cd auth && npm install

      - name: Build Auth
        run: cd auth && npm run build

      - name: Install Portfolio Dependencies
        run: cd portfolio && npm install

      - name: Build Portfolio
        run: cd portfolio && npm run build

      - name: Install Expense Tracker Dependencies
        run: cd expense-tracker && npm install

      - name: Build Expense Tracker
        run: cd expense-tracker && npm run build

      - name: Install Pxel Dependencies
        run: cd pxel && npm install

      - name: Build Pxel
        run: cd pxel && npm run build

      - name: Assemble Microfrontends
        run: |
          mkdir -p dist
          cp -r container/dist/* dist/
          mkdir -p dist/auth/latest
          cp -r auth/dist/* dist/auth/latest/
          mkdir -p dist/portfolio/latest
          cp -r portfolio/dist/* dist/portfolio/latest/
          mkdir -p dist/expensetracker/latest
          cp -r expense-tracker/dist/* dist/expensetracker/latest/
          mkdir -p dist/pxel/latest
          cp -r pxel/dist/* dist/pxel/latest/

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./dist"

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
