name: Deploy All Apps

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: windows-latest
    env:
      PRODUCTION_DOMAIN: https://gowthamraj2399.github.io/gowtham-microfrontend
      VITE_SUPABASE_URL: ${{ secrets.VITE_SUPABASE_URL }}
      VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY: ${{ secrets.VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY }}
      VITE_CLOUDINARY_CLOUD_NAME: ${{ secrets.VITE_CLOUDINARY_CLOUD_NAME }}
      VITE_CLOUDINARY_UPLOAD_PRESET: ${{ secrets.VITE_CLOUDINARY_UPLOAD_PRESET }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Build Container
        run: |
          cd container
          npm install
          npm run build

      - name: Build Auth
        run: |
          cd auth
          npm install
          npm run build

      - name: Build Portfolio
        run: |
          cd portfolio
          npm install
          npm run build

      - name: Build Expense Tracker
        run: |
          cd expense-tracker
          npm install
          npm run build

      - name: Build Pxel
        run: |
          cd pxel
          npm install
          npm run build

      - name: Assemble Microfrontends
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path dist
          Copy-Item -Path container/dist/* -Destination dist/ -Recurse -Force
          
          New-Item -ItemType Directory -Force -Path dist/auth/latest
          Copy-Item -Path auth/dist/* -Destination dist/auth/latest/ -Recurse -Force
          
          New-Item -ItemType Directory -Force -Path dist/portfolio/latest
          Copy-Item -Path portfolio/dist/* -Destination dist/portfolio/latest/ -Recurse -Force
          
          New-Item -ItemType Directory -Force -Path dist/expensetracker/latest
          Copy-Item -Path expense-tracker/dist/* -Destination dist/expensetracker/latest/ -Recurse -Force
          
          New-Item -ItemType Directory -Force -Path dist/pxel/latest
          Copy-Item -Path pxel/dist/* -Destination dist/pxel/latest/ -Recurse -Force

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./dist"

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
